<h1>I am the director of pagelet #{@pagelet_id} ({Tools.ii(self())})</h1>

<img src={@qr_svg} />

<hr /> For {@pagelet_url}

<hr />

<button phx-click="new_color">NewColor</button>
<hr />

<div style={"background: #{@ps_bg_color}"}>
  Color goes here <p /> Color goes here
</div>

<hr /> Connected clients: {Tools.ii(@connected_clients)} <br />
Connected directors: {Tools.ii(@connected_directors)} <br />
